<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Razorpay Payment Form</h1>
    <form id="payment-form" method="post" > 
        {% csrf_token %}
        <label for="price">Enter Amount (in INR):</label>
        <input type="price" id="purchase_amount" name="price" required>
        <button type="button" id="pay-button" role="button" value="checkout">Pay Now</button>
    </form>
    
    <script>
        $(document).ready(function() {
            $("#pay-button").click(function(e) {
                e.preventDefault(); // Prevent the default form submission
                
                // Get the amount entered by the user
                const amount = $("#purchase_amount").val();

                // Make an AJAX request to initiate the payment
                $.ajax({
                    type: "POST",
                    url: "/initiate-payment/",
                    data: { 
                        // key: "key", razorpay secret key, image = business logo
                        amount: amount,
                        currency: "INR",
                        name: "TimeStyle",
                        description: "Test Transaction",
                        image: "https://example.com/your_logo",
                        order_id: "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                     },
                    dataType: "json",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
                    },
                    success: function(data) {
                        // Initialize Razorpay Checkout with the received values
                        const options = {
                            key: data.key,
                            amount: data.amount,
                            currency: data.currency,
                            order_id: data.order_id,
                            name: data.name,
                            image: data.image,
                            handler: function(response) {
                                // alert(response.razorpay_payment_id);
                                // alert(response.razorpay_order_id);
                                // alert(response.razorpay_signature);
                                // Handle the payment success or failure and redirect accordingly
                                if (response.razorpay_payment_id) {
                                    // Payment successful, redirect to the success URL
                                    window.location.href = "/payment-success/";
                                } else {
                                    // Payment failed or canceled, redirect to the failure URL
                                    window.location.href = "/payment-failed/";
                                }
                            },
                            prefill: {
                                name: "Customer aditya",
                                email: "customer@example.com",
                                contact: "8707465112",
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };

                        const rzp = new Razorpay(options);
                        rzp.open('payment.failed', function (response){
                            alert(response.error.code);
                            alert(response.error.description);
                            alert(response.error.source);
                            alert(response.error.step);
                            alert(response.error.reason);
                            alert(response.error.metadata.order_id);
                            alert(response.error.metadata.payment_id);
                        });
                    },
                    error: function(error) {
                        console.error("Error initiating payment:", error);
                    }
                });
            });
        });
    </script>
    

    <!-- <script>
        var options = {
            "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
            "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
        </script> -->
    
</body>
</html>